RedCobrosEjb/src/conf/wsdl/RedCobroService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.documenta.com.py/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.documenta.com.py/" name="RedCobroService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xml.netbeans.org/schema/common" schemaLocation="RedCobroService1.xsd" />
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://ws.onlineManager.documenta.com.py/" schemaLocation="RedCobroService2.xsd" />
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://ws.documenta.com.py/" schemaLocation="RedCobroService3.xsd" />
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://practigiro.ws.documenta.com.py/" schemaLocation="RedCobroService4.xsd" />
        </xsd:schema>
    </types>
    <message name="test">
        <part name="parameters" element="tns:test" />
    </message>
    <message name="testResponse">
        <part name="parameters" element="tns:testResponse" />
    </message>
    <message name="getTicket">
        <part name="parameters" element="tns:getTicket" />
    </message>
    <message name="getTicketResponse">
        <part name="parameters" element="tns:getTicketResponse" />
    </message>
    <message name="getMensajeGenerico">
        <part name="parameters" element="tns:getMensajeGenerico" />
    </message>
    <message name="getMensajeGenericoResponse">
        <part name="parameters" element="tns:getMensajeGenericoResponse" />
    </message>
    <message name="getServicios">
        <part name="parameters" element="tns:getServicios" />
    </message>
    <message name="getServiciosResponse">
        <part name="parameters" element="tns:getServiciosResponse" />
    </message>
    <message name="reimpresion">
        <part name="parameters" element="tns:reimpresion" />
    </message>
    <message name="reimpresionResponse">
        <part name="parameters" element="tns:reimpresionResponse" />
    </message>
    <message name="realizarCobranzaManual">
        <part name="parameters" element="tns:realizarCobranzaManual" />
    </message>
    <message name="realizarCobranzaManualResponse">
        <part name="parameters" element="tns:realizarCobranzaManualResponse" />
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception" />
    </message>
    <message name="realizarCobranzaManualWrap">
        <part name="parameters" element="tns:realizarCobranzaManualWrap" />
    </message>
    <message name="realizarCobranzaManualWrapResponse">
        <part name="parameters" element="tns:realizarCobranzaManualWrapResponse" />
    </message>
    <message name="procesarServicio">
        <part name="parameters" element="tns:procesarServicio" />
    </message>
    <message name="procesarServicioResponse">
        <part name="parameters" element="tns:procesarServicioResponse" />
    </message>
    <message name="procesarServicioWrap">
        <part name="parameters" element="tns:procesarServicioWrap" />
    </message>
    <message name="procesarServicioWrapResponse">
        <part name="parameters" element="tns:procesarServicioWrapResponse" />
    </message>
    <message name="resolverServicio">
        <part name="parameters" element="tns:resolverServicio" />
    </message>
    <message name="resolverServicioResponse">
        <part name="parameters" element="tns:resolverServicioResponse" />
    </message>
    <message name="procesarConsultaWrap">
        <part name="parameters" element="tns:procesarConsultaWrap" />
    </message>
    <message name="procesarConsultaWrapResponse">
        <part name="parameters" element="tns:procesarConsultaWrapResponse" />
    </message>
    <message name="procesarConsulta">
        <part name="parameters" element="tns:procesarConsulta" />
    </message>
    <message name="procesarConsultaResponse">
        <part name="parameters" element="tns:procesarConsultaResponse" />
    </message>
    <message name="resolverServicioConsulta">
        <part name="parameters" element="tns:resolverServicioConsulta" />
    </message>
    <message name="resolverServicioConsultaResponse">
        <part name="parameters" element="tns:resolverServicioConsultaResponse" />
    </message>
    <message name="anulacion">
        <part name="parameters" element="tns:anulacion" />
    </message>
    <message name="anulacionResponse">
        <part name="parameters" element="tns:anulacionResponse" />
    </message>
    <message name="anulacionWrap">
        <part name="parameters" element="tns:anulacionWrap" />
    </message>
    <message name="anulacionWrapResponse">
        <part name="parameters" element="tns:anulacionWrapResponse" />
    </message>
    <message name="validarCodigoBarras">
        <part name="parameters" element="tns:validarCodigoBarras" />
    </message>
    <message name="validarCodigoBarrasResponse">
        <part name="parameters" element="tns:validarCodigoBarrasResponse" />
    </message>
    <message name="pagoCodigoBarras">
        <part name="parameters" element="tns:pagoCodigoBarras" />
    </message>
    <message name="pagoCodigoBarrasResponse">
        <part name="parameters" element="tns:pagoCodigoBarrasResponse" />
    </message>
    <message name="consultaTrxS">
        <part name="parameters" element="tns:consultaTrxS" />
    </message>
    <message name="consultaTrxSResponse">
        <part name="parameters" element="tns:consultaTrxSResponse" />
    </message>
    <message name="consultaTrxRc">
        <part name="parameters" element="tns:consultaTrxRc" />
    </message>
    <message name="consultaTrxRcResponse">
        <part name="parameters" element="tns:consultaTrxRcResponse" />
    </message>
    <message name="getProximoNroOrden">
        <part name="parameters" element="tns:getProximoNroOrden" />
    </message>
    <message name="getProximoNroOrdenResponse">
        <part name="parameters" element="tns:getProximoNroOrdenResponse" />
    </message>
    <message name="resolverServicioTelefonia">
        <part name="parameters" element="tns:resolverServicioTelefonia" />
    </message>
    <message name="resolverServicioTelefoniaResponse">
        <part name="parameters" element="tns:resolverServicioTelefoniaResponse" />
    </message>
    <message name="getDatosEnvio">
        <part name="parameters" element="tns:getDatosEnvio" />
    </message>
    <message name="getDatosEnvioResponse">
        <part name="parameters" element="tns:getDatosEnvioResponse" />
    </message>
    <message name="getCliente">
        <part name="parameters" element="tns:getCliente" />
    </message>
    <message name="getClienteResponse">
        <part name="parameters" element="tns:getClienteResponse" />
    </message>
    <message name="altaCliente">
        <part name="parameters" element="tns:altaCliente" />
    </message>
    <message name="altaClienteResponse">
        <part name="parameters" element="tns:altaClienteResponse" />
    </message>
    <message name="getParametroComision">
        <part name="parameters" element="tns:getParametroComision" />
    </message>
    <message name="getParametroComisionResponse">
        <part name="parameters" element="tns:getParametroComisionResponse" />
    </message>
    <message name="listTipoDocumento">
        <part name="parameters" element="tns:listTipoDocumento" />
    </message>
    <message name="listTipoDocumentoResponse">
        <part name="parameters" element="tns:listTipoDocumentoResponse" />
    </message>
    <message name="listCiudad">
        <part name="parameters" element="tns:listCiudad" />
    </message>
    <message name="listCiudadResponse">
        <part name="parameters" element="tns:listCiudadResponse" />
    </message>
    <message name="setBloqueoClienteDDJJ">
        <part name="parameters" element="tns:setBloqueoClienteDDJJ" />
    </message>
    <message name="setBloqueoClienteDDJJResponse">
        <part name="parameters" element="tns:setBloqueoClienteDDJJResponse" />
    </message>
    <message name="testCobroCB">
        <part name="parameters" element="tns:testCobroCB" />
    </message>
    <message name="testCobroCBResponse">
        <part name="parameters" element="tns:testCobroCBResponse" />
    </message>
    <message name="testPAGO">
        <part name="parameters" element="tns:testPAGO" />
    </message>
    <message name="testPAGOResponse">
        <part name="parameters" element="tns:testPAGOResponse" />
    </message>
    <message name="testConsulta">
        <part name="parameters" element="tns:testConsulta" />
    </message>
    <message name="testConsultaResponse">
        <part name="parameters" element="tns:testConsultaResponse" />
    </message>
    <message name="testAnulacion">
        <part name="parameters" element="tns:testAnulacion" />
    </message>
    <message name="testAnulacionResponse">
        <part name="parameters" element="tns:testAnulacionResponse" />
    </message>
    <message name="testGetServicio">
        <part name="parameters" element="tns:testGetServicio" />
    </message>
    <message name="testGetServicioResponse">
        <part name="parameters" element="tns:testGetServicioResponse" />
    </message>
    <message name="testPagoOL">
        <part name="parameters" element="tns:testPagoOL" />
    </message>
    <message name="testPagoOLResponse">
        <part name="parameters" element="tns:testPagoOLResponse" />
    </message>
    <portType name="RedCobro">
        <operation name="test">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/testRequest" message="tns:test" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/testResponse" message="tns:testResponse" />
        </operation>
        <operation name="getTicket">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/getTicketRequest" message="tns:getTicket" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/getTicketResponse" message="tns:getTicketResponse" />
        </operation>
        <operation name="getMensajeGenerico">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/getMensajeGenericoRequest" message="tns:getMensajeGenerico" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/getMensajeGenericoResponse" message="tns:getMensajeGenericoResponse" />
        </operation>
        <operation name="getServicios">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/getServiciosRequest" message="tns:getServicios" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/getServiciosResponse" message="tns:getServiciosResponse" />
        </operation>
        <operation name="reimpresion">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/reimpresionRequest" message="tns:reimpresion" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/reimpresionResponse" message="tns:reimpresionResponse" />
        </operation>
        <operation name="realizarCobranzaManual">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/realizarCobranzaManualRequest" message="tns:realizarCobranzaManual" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/realizarCobranzaManualResponse" message="tns:realizarCobranzaManualResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/realizarCobranzaManual/Fault/Exception" />
        </operation>
        <operation name="realizarCobranzaManualWrap">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/realizarCobranzaManualWrapRequest" message="tns:realizarCobranzaManualWrap" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/realizarCobranzaManualWrapResponse" message="tns:realizarCobranzaManualWrapResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/realizarCobranzaManualWrap/Fault/Exception" />
        </operation>
        <operation name="procesarServicio">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/procesarServicioRequest" message="tns:procesarServicio" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/procesarServicioResponse" message="tns:procesarServicioResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/procesarServicio/Fault/Exception" />
        </operation>
        <operation name="procesarServicioWrap">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/procesarServicioWrapRequest" message="tns:procesarServicioWrap" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/procesarServicioWrapResponse" message="tns:procesarServicioWrapResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/procesarServicioWrap/Fault/Exception" />
        </operation>
        <operation name="resolverServicio">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/resolverServicioRequest" message="tns:resolverServicio" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/resolverServicioResponse" message="tns:resolverServicioResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/resolverServicio/Fault/Exception" />
        </operation>
        <operation name="procesarConsultaWrap">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/procesarConsultaWrapRequest" message="tns:procesarConsultaWrap" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/procesarConsultaWrapResponse" message="tns:procesarConsultaWrapResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/procesarConsultaWrap/Fault/Exception" />
        </operation>
        <operation name="procesarConsulta">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/procesarConsultaRequest" message="tns:procesarConsulta" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/procesarConsultaResponse" message="tns:procesarConsultaResponse" />
        </operation>
        <operation name="resolverServicioConsulta">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/resolverServicioConsultaRequest" message="tns:resolverServicioConsulta" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/resolverServicioConsultaResponse" message="tns:resolverServicioConsultaResponse" />
        </operation>
        <operation name="anulacion">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/anulacionRequest" message="tns:anulacion" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/anulacionResponse" message="tns:anulacionResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/anulacion/Fault/Exception" />
        </operation>
        <operation name="anulacionWrap">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/anulacionWrapRequest" message="tns:anulacionWrap" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/anulacionWrapResponse" message="tns:anulacionWrapResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/anulacionWrap/Fault/Exception" />
        </operation>
        <operation name="validarCodigoBarras">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/validarCodigoBarrasRequest" message="tns:validarCodigoBarras" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/validarCodigoBarrasResponse" message="tns:validarCodigoBarrasResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/validarCodigoBarras/Fault/Exception" />
        </operation>
        <operation name="pagoCodigoBarras">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/pagoCodigoBarrasRequest" message="tns:pagoCodigoBarras" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/pagoCodigoBarrasResponse" message="tns:pagoCodigoBarrasResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/pagoCodigoBarras/Fault/Exception" />
        </operation>
        <operation name="consultaTrxS">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/consultaTrxSRequest" message="tns:consultaTrxS" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/consultaTrxSResponse" message="tns:consultaTrxSResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/consultaTrxS/Fault/Exception" />
        </operation>
        <operation name="consultaTrxRc">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/consultaTrxRcRequest" message="tns:consultaTrxRc" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/consultaTrxRcResponse" message="tns:consultaTrxRcResponse" />
            <fault message="tns:Exception" name="Exception" wsam:Action="http://ws.documenta.com.py/RedCobro/consultaTrxRc/Fault/Exception" />
        </operation>
        <operation name="getProximoNroOrden">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/getProximoNroOrdenRequest" message="tns:getProximoNroOrden" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/getProximoNroOrdenResponse" message="tns:getProximoNroOrdenResponse" />
        </operation>
        <operation name="resolverServicioTelefonia">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/resolverServicioTelefoniaRequest" message="tns:resolverServicioTelefonia" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/resolverServicioTelefoniaResponse" message="tns:resolverServicioTelefoniaResponse" />
        </operation>
        <operation name="getDatosEnvio">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/getDatosEnvioRequest" message="tns:getDatosEnvio" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/getDatosEnvioResponse" message="tns:getDatosEnvioResponse" />
        </operation>
        <operation name="getCliente">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/getClienteRequest" message="tns:getCliente" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/getClienteResponse" message="tns:getClienteResponse" />
        </operation>
        <operation name="altaCliente">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/altaClienteRequest" message="tns:altaCliente" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/altaClienteResponse" message="tns:altaClienteResponse" />
        </operation>
        <operation name="getParametroComision">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/getParametroComisionRequest" message="tns:getParametroComision" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/getParametroComisionResponse" message="tns:getParametroComisionResponse" />
        </operation>
        <operation name="listTipoDocumento">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/listTipoDocumentoRequest" message="tns:listTipoDocumento" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/listTipoDocumentoResponse" message="tns:listTipoDocumentoResponse" />
        </operation>
        <operation name="listCiudad">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/listCiudadRequest" message="tns:listCiudad" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/listCiudadResponse" message="tns:listCiudadResponse" />
        </operation>
        <operation name="setBloqueoClienteDDJJ">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/setBloqueoClienteDDJJRequest" message="tns:setBloqueoClienteDDJJ" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/setBloqueoClienteDDJJResponse" message="tns:setBloqueoClienteDDJJResponse" />
        </operation>
        <operation name="testCobroCB">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/testCobroCBRequest" message="tns:testCobroCB" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/testCobroCBResponse" message="tns:testCobroCBResponse" />
        </operation>
        <operation name="testPAGO">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/testPAGORequest" message="tns:testPAGO" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/testPAGOResponse" message="tns:testPAGOResponse" />
        </operation>
        <operation name="testConsulta">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/testConsultaRequest" message="tns:testConsulta" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/testConsultaResponse" message="tns:testConsultaResponse" />
        </operation>
        <operation name="testAnulacion">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/testAnulacionRequest" message="tns:testAnulacion" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/testAnulacionResponse" message="tns:testAnulacionResponse" />
        </operation>
        <operation name="testGetServicio">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/testGetServicioRequest" message="tns:testGetServicio" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/testGetServicioResponse" message="tns:testGetServicioResponse" />
        </operation>
        <operation name="testPagoOL">
            <input wsam:Action="http://ws.documenta.com.py/RedCobro/testPagoOLRequest" message="tns:testPagoOL" />
            <output wsam:Action="http://ws.documenta.com.py/RedCobro/testPagoOLResponse" message="tns:testPagoOLResponse" />
        </operation>
    </portType>
    <binding name="RedCobroPortBinding" type="tns:RedCobro">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="test">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getTicket">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getMensajeGenerico">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getServicios">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="reimpresion">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="realizarCobranzaManual">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="realizarCobranzaManualWrap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="procesarServicio">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="procesarServicioWrap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="resolverServicio">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="procesarConsultaWrap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="procesarConsulta">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="resolverServicioConsulta">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="anulacion">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="anulacionWrap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="validarCodigoBarras">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="pagoCodigoBarras">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="consultaTrxS">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="consultaTrxRc">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal" />
            </fault>
        </operation>
        <operation name="getProximoNroOrden">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="resolverServicioTelefonia">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getDatosEnvio">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getCliente">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="altaCliente">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getParametroComision">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="listTipoDocumento">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="listCiudad">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="setBloqueoClienteDDJJ">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="testCobroCB">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="testPAGO">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="testConsulta">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="testAnulacion">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="testGetServicio">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="testPagoOL">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="RedCobroService">
        <port name="RedCobroPort" binding="tns:RedCobroPortBinding">
            <soap:address location="http://localhost:8082/RCDocumenta/RedCobroService" />
        </port>
    </service>
</definitions>