GestionRedCobrosWeb/web/WEB-INF/wsdl/localhost_8080/RCDocumenta/RedCobroService.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://ws.onlineManager.documenta.com.py/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.onlineManager.documenta.com.py/">

<xs:complexType name="olResponseConsulta">
<xs:sequence>
<xs:element name="codRetorno" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="detalleServicios" type="tns:olDetalleServicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="mensajeOperacion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="referenciaConsulta" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="olDetalleServicio">
<xs:sequence>
<xs:element name="detalleReferencias" type="tns:olDetalleReferencia" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="idServicio" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="tipoAcumulado" type="tns:olTipoAcumulado" minOccurs="0"></xs:element>
<xs:element name="tipoSeleccion" type="tns:olTipoSeleccion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="olDetalleReferencia">
<xs:sequence>
<xs:element name="acumulado" type="xs:decimal" minOccurs="0"></xs:element>
<xs:element name="comision" type="xs:decimal" minOccurs="0"></xs:element>
<xs:element name="descipcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="monto" type="xs:decimal" minOccurs="0"></xs:element>
<xs:element name="referenciaPago" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="olTipoAcumulado">
<xs:restriction base="xs:string">
<xs:enumeration value="PAGO_ANTERIORES"></xs:enumeration>
<xs:enumeration value="PAGO_TOTAL"></xs:enumeration>
<xs:enumeration value="PAGO_INDEPENDIENTE"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="olTipoSeleccion">
<xs:restriction base="xs:string">
<xs:enumeration value="RADIO_BUTTON"></xs:enumeration>
<xs:enumeration value="CHECK_BOX"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>