GestionRedCobrosWeb/web/WEB-INF/wsdl/192.168.30.58_8080/RCDocumenta/RedCobroService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/common">

<xs:complexType name="RespuestaCobranza">
<xs:sequence>
<xs:element name="estado" type="tns:EstadoTransaccion" />
<xs:element name="idTransaccion" type="xs:long" minOccurs="0" />
<xs:element name="nroBoleta" type="xs:string" minOccurs="0" />
<xs:element name="ticket" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EstadoTransaccion">
<xs:sequence>
<xs:element name="codigoRetorno" type="xs:int" />
<xs:element name="descripcion" type="xs:string" />
<xs:element name="idLogTransaccion" type="xs:long" />
</xs:sequence>
</xs:complexType>
</xs:schema>